params {

    input               = null
    outdir              = null

    // fetch data options
    skip_fetch_data     = false

}

profiles {

    singularity {
        singularity.enabled = true
    }

    docker {
        docker.enabled = true
    }

    conda {
        conda.enabled = true
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'