params {

    input               = null
    outdir              = null

    // fetch data options
    skip_fetch_data     = false

    // reference
    spatial_barcodes    = null
    ref_map             = null
    ref_annotation      = null

    // STAR aligner
    skip_star_genome    = false
    genome_fasta        = "${projectDir}/data/references/Mus_musculus/Ensembl/GRCm38/Sequence/Chromosomes/"
    whole_genome_fasta  = "${projectDir}/data/references/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"

}

profiles {

    singularity {
        singularity.enabled = true
        docker.enabled      = false
        conda.enabled       = false
    }

    docker {
        singularity.enabled = false
        docker.enabled      = true
        conda.enabled       = false
    }

    conda {
        singularity.enabled = false
        docker.enabled      = false
        conda.enabled       = true
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'