process {
    
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxError      = -1

    cpus    = { 1         * task.attempt }
    memory  = { 6.Gb      * task.attempt }
    time    = { 4.h       * task.attempt }

    withLabel:process_single {
        cpus    = { 1                    }
        memory  = { 6.Gb  * task.attempt }
        time    = { 4.h   * task.attempt }
    }

    withLabel:process_low {
        cpus    = { 2     * task.attempt  } 
        memory  = { 12.Gb  * task.attempt }
        time    = { 6.h   * task.attempt  }
    }

    withLabel:process_medium {
        cpus    = { 4     * task.attempt }
        memory  = { 12.Gb * task.attempt }
        time    = { 12.h  * task.attempt }
    }

    withLabel:process_high {
        cpus    = { 4     * task.attempt }
        memory  = { 24.Gb * task.attempt }
        time    = { 12.h  * task.attempt }
    }
}