process {
    
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3

    cpus    = 2
    memory  = 6.Gb
    time    = 6.h

    withLabel: 'process_low' {
        cpus    = 2
        memory  = 6.Gb
        time    = 6.h
    }

    withLabel: 'process_medium' {
        cpus    = 4
        memory  = 12.Gb
        time    = 12.h
    }

    withLabel: 'process_high' {
        cpus    = 6
        memory  = 24.Gb
        time    = 12.h
    }
}