process {

    withName: PREFETCH {
        ext.args = "--max-size 150g"
    }

    withName: FASTERQ_DUMP {
        publishDir = [
            path: { "${fastq_output}/" },
            mode: 'copy'
        ]
    }
    withName: CELLRANGER {
        publishDir = [
            path: { "${meta.outdir}/${meta.analysis_subdir}" },
            mode: 'copy'
        ]
    }

}