process {

    withName: PREFETCH {
        ext.args = "--max-size 150g"
    }

    withName: FASTERQ_DUMP {
        publishDir = [
            path: { "${fastq_output}/" },
            mode: 'copy'
        ]
    }
    withName: CELLRANGER {
        publishDir = [
            path: { "${meta.outdir}/${meta.analysis_subdir}" },
            mode: 'copy'
        ]
    }

    withName: STAR_GENOMEGENERATE {
        publishDir = [
            path: { "data/references/Mus_musculus/Ensembl/GRCm38/Sequence/"},
            mode: 'copy'
        ]
    }

    withName: ST_PIPELINE {
        ext.args = "--htseq-no-ambiguous --verbose --umi-start-position 16 --umi-end-position 26 --demultiplexing-overhang 0 --min-length-qual-trimming 20"
    }

}