process {

    withName: PREFETCH {
        ext.args = "--max-size 150g"
    }

    withName: FASTERQ_DUMP {
        publishDir = [
            path: { "data/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: CELLRANGER_MKREF {
        ext.genome     = "mm10"
        ext.version    = "2020-A"
        ext.config_in  = "${projectDir}/assets/ref.config"
        publishDir = [
            path: { "data/references/Mus_musculus/mm10-2020-A" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: CELLRANGER {
        ext.cratac_txt  = "${projectDir}/assets/737K-cratac-v1.txt.gz"
        ext.use_cractac = true
        publishDir = [
            path: { "${meta.outdir}/cellranger/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: STAR_GENOMEGENERATE {
        publishDir = [
            path: { "data/references/Mus_musculus/Ensembl/GRCm38/Sequence/"},
            mode: params.publish_dir_mode,
        ]
    }

    withName: ST_PIPELINE {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
        ext.args = "--htseq-no-ambiguous --verbose --umi-start-position 16 --umi-end-position 26 --demultiplexing-overhang 0 --min-length-qual-trimming 20"
    }

    // CUTADAPT options
    withName: CUTADAPT_PRIMER {
        ext.args = "-g ${params.primer_seq}"
    }
    withName: CUTADAPT_LINKER1 {
        ext.args = "-g ${params.linker1_seq}"
    }
    withName: CUTADAPT_LINKER2 {
        ext.args = "-g ${params.linker2_seq}"
    }

}