/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,docker --outdir results

----------------------------------------------------------------------------------------
*/
params {

    // input output options
    input               = "${projectDir}/assets/samplesheet.csv"
    outdir              = result
    publish_dir_mode    = "copy"

    // skip options
    skip_fetch_data     = true
    skip_rna_preprocess = false
    skip_star_genome    = true
    skip_make_ref       = true

    // reference
    get_reference       = true
    meta                = "mm10"
    spatial_barcodes    = "${projectDir}/assets/spatial_barcodes.txt"
    ref_map             = "${projectDir}/data/references/Mus_musculus/Ensembl/GRCm38/Sequence/star"
    ref_annotation      = "${projectDir}/data/references/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf "
    ref_atac_genome     = "${projectDir}/data/references/Mus_musculus/mm10-2020-A/mm10"

    // ATACseq cutadapt sequence 
    primer_seq          = "CAAGCGTTGGCTTCTCGCATCT"
    linker1_seq         = "GTGGCCGATGTTTCGCATCGGCGTACGACT"
    linker2_seq         = "ATCCACGTGCTTGAGAGGCCAGAGCATTCG"

    // STAR aligner
    genome_fasta        = "${projectDir}/data/references/Mus_musculus/Ensembl/GRCm38/Sequence/Chromosomes/"
    whole_genome_fasta  = "${projectDir}/data/references/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
}