{
    organism: "Mus_musculus"
    genome: ["mm10"]
    input_fasta: ["/mnt/raid5/kbui/misc/co-spatial/data/references/Mus_musculus/mm10-2020-A-build/Mus_musculus.GRCm38.dna.primary_assembly.fa.modified"]
    input_gtf: ["/mnt/raid5/kbui/misc/co-spatial/data/references/Mus_musculus/mm10-2020-A-build/gencode.vM23.primary_assembly.annotation.gtf.filtered"]
    input_motifs: "/mnt/raid5/kbui/misc/co-spatial/data/references/Mus_musculus/mm10-2020-A-build/JASPAR2018_CORE_vertebrates_non-redundant_pfms_jaspar.txt"
    non_nuclear_contigs: ["chrM"]
}